<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{user}] [%X{executionStep}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>test.log</file>-->
<!--        <rollingPolicy-->
<!--                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>test.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>10</maxHistory>-->
<!--            <totalSizeCap>10GB</totalSizeCap>-->

<!--        </rollingPolicy>-->
<!--        <discriminator class="sb.com.project.MarkerDiscriminator">-->
<!--            <key>importance</key>-->
<!--            <defaultValue>not_important</defaultValue>-->
<!--        </discriminator>-->
<!--        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">-->
<!--            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">-->
<!--                <prettyPrint>true</prettyPrint>-->
<!--            </jsonFormatter>-->
<!--            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>-->
<!--            <appendLineSeparator>true</appendLineSeparator>-->
<!--            <includeContextName>false</includeContextName>-->
<!--        </layout>-->

<!--&lt;!&ndash;        <encoder>&ndash;&gt;-->
<!--&lt;!&ndash;            <pattern>%d{HH:mm:ss.SSS} [%X{user}] [%X{executionStep}] %-5level %logger{36} - %msg%n</pattern>&ndash;&gt;-->
<!--&lt;!&ndash;        </encoder>&ndash;&gt;-->
<!--    </appender>-->


    <appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="sb.com.project.MarkerDiscriminator">
            <key>importance</key>
            <defaultValue>not_important</defaultValue>
        </discriminator>
        <sift>
            <appender name="file-${importance}" class="ch.qos.logback.core.FileAppender">
                <file>logback-${importance}.log</file>
                <append>false</append>
                <immediateFlush>true</immediateFlush>
                    <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                        <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                              <prettyPrint>true</prettyPrint>
                        </jsonFormatter>
                        <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
                        <appendLineSeparator>true</appendLineSeparator>
                        <includeContextName>false</includeContextName>
                    </layout>
            </appender>
        </sift>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>